@import './reset'

body{
  background: #1e1e1e
  color: #d4d4d4
}
a{
  text-decoration: underline
  color: #39f

  &:hover{
    color: #5af
    text-decoration: underline
  }
  &:active{
    color: #159
  }
}